.field {
    display: flex;
    flex-direction: column;
    &__input,
    &__textarea {
        box-sizing: border-box;
        display: block;
        width: 100%;
        background-color: @white;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375;
    }
}