.header {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 187px auto 0px;
    padding: 8px;
    width: 624px;
    height: 62px;
    background-color: @black;
    text-transform: uppercase;
    font-weight: 500;
    font-family: @font2;
    font-size: 36px;
    color: @white;
}