.article__header{
    color: red;
    text-align: center;
}
.article__paragraph{
    background-color: beige;
}
.article__image{
    width: 189;
    height: 255;
}
.article{
    background-color: darkgray
}